.card{
    display: inline-block;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(106, 102, 102);
    color: white;
    
}

@media (max-width: 600px) {
    .card{
        display: block;
        padding: 0%;
        margin: 80px;
        background-color: white;
        color: black;
        border: 0;
       
    }
    .card-img-top{
        display: block;
    }
}
.card-img-top{
    width: 230px;
    height: 350px;
}